root = true

[*]
indent_style = space
trim_trailing_whitespace = true
indent_size = 4
end_of_line = LF
# LF: For Changes, this is a Minilla requirement ---
# https://github.com/tokuhirom/Minilla/issues/259 .
# For .editorconfig, it's just for consistency with my other projects :) .


[*.{bat,vbs,ps1}]
end_of_line = CRLF

[Makefile]
indent_style = tab

[*.yml]
indent_size = 2
