# The canonical email addresses for PAUSE users are PAUSEID@cpan.org.
# That way MetaCPAN will show the links to their profiles.
D.H. <podmaster@cpan.org> <crazyinsomniac@yahoo.com>
Christopher White <cxw@cpan.org> <cxwembedded@gmail.com>
Christopher White <cxw@cpan.org> <chrisw@leehayes.com>
